<h1>ログイン</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <table class="table">
    <tr>
      <th><%= f.label :email, "メールアドレス" %></th>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password, "パスワード" %></th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit "ログイン" %></td>
    </tr>
  </table>
<% end %>