<h1>ユーザー登録</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <th><%= f.label :name,"お名前" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
      <th><%= f.label :email,"メールアドレス" %></th>
      <td><%= f.email_field :email %></td>
    <tr>
      <th><%= f.label :password,"パスワード" %></th>
      <td><%= f.password_field :password %></td>
    </tr>
      <th><%= f.label :password,"パスワード" %></th>
      <td><%= f.password_field :password %></td>
    <tr>
      <th></th>
      <td><%= f.submit "登録" %></td>
    </tr>
  </table>

<% end %>
